  #profile-update-form input::placeholder {
    color: #063549;
  }

   #id_default_country option:not(:first-child) {
      color: #fcffff;
  }

  #id_default_country option:first-child {
    color: #063549;
}

#id_default_country {
  color: #063549;;
}

.form-control input {
  color: #fcffff;
}

.order-history {
  max-height: 416px;
  overflow-y: auto;
}

.table {
  color: #fcffff;
}