@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #fcffff;
    background-color: #063549;
    font-family: 'Poppins', sans-serif;
}

hr {
  border: 1px solid #fcffff;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shopbtn {
    background: black;
    color: #fcffff;
    border: 1px solid #fcffff;
    height: 50px;
    min-width: 200px;
    position: absolute;
    left: 40px;
    bottom: 100px;
    z-index: 25;
    justify-content: center;
    align-items: center;
}

.btn-black {
    background: black;
    color: white;
    border: 1px #fcffff solid;
}

header,
#main-nav {
  background-color: #063549;
}

#site-header {
  max-height: 150px;
}

.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.shopbtn:hover,
.shopbtn:active,
.shopbtn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #063549;
    color: white;
}

.search-btn {
  background-color: #063549;
  color: #fcffff;
}

.text-black {
    color: #fcffff !important;
}

.border-black {
    border: 1px solid black !important;
}

a.category-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

.btt-button {
height: 42px;
width: 42px;
position: fixed;
bottom: 10px;
right: 10px;
}

.btt-link,
.update-link,
.remove-item {
cursor: pointer;
}

input[name='q']::placeholder {
  color: #aab7c4;
}

/* Toast Styling */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 9999;
  color: #063549;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.text-info {
  color: #cfb87f !important;
}

.text-info:hover {
  color: #fcffff !important;
}

/* Shopping Bag Styling */

.table {
  color: #fcffff;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header Styling */

.dropdown-menu {
  background-color: #063549;
}

.dropdown-item {
  color: #fcffff;
}

.navbar-toggler-icon {
  background-color: #fcffff;
}

.text-primary {
  color: #cfb87f !important
}

.navbar {
  padding: 0.5rem, 0rem;
}

/* Carousel Styling */

.carousel,
.carousel-item {
  height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    height: 600px;
}

/* Map section styling */

.directions {
  background-color: #fcffff;
}

/* Main Product Page styling */

.card,
.card-body,
.card-footer {
  background-color: #fcffff;
}

.card-body,
.product-price,
.product-edit-link {
  color: #063549;
}

.card-border,
.image-container {
  border: #c7becd 5px solid;
  border-radius: 0.25rem !important;
  background: #fcffff;

}

.image-container p {
  color: #063549;
}

.image-container a:focus {
  color: #cfb87f;
}

.card-footer {
  color: #063549;
}

/* Blog Styling */

.blog-add-btn {
  text-align: center;
}

/* Footer Styling */

.text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: #cfb87f;
  }
  
  .form-control {
    border: 3px solid #fcffff;
  }
  
  .form-control:focus,
  .form-control input {
    background: #063549;
    color: #fcffff;
  }

  footer {
    background: #063549;
  }
  
  /* Allauth styling */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Update and add product form styling */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-label::checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* Extra padding for nav bar when collapsed */
@media (max-width: 991px) {
  .header-container {
      padding-top: 164px;
  }

  body {
      height: calc(100vh - 116px);
  }

  .display-4.logo-font.text-black {
    font-size: 2rem;
  }

  .nav-link {
      padding: 0.15rem;
  }

  .nav-link i.fa-lg {
      font-size: 1rem;
  }

  .navbar-toggler {
      padding: .6rem .6rem;
      font-size: 1rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
      padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
      padding: .25rem .5rem !important;
  }
}

/* Extra padding for products page on xl screens */

@media (min-width: 1320px) {
  .header-container {
      padding-top: 225px;
  }
}

/* Smaller iframe on mobile screens */

@media (max-width: 500px){
  iframe {
    height: 400px;
    width: 350px;
  }
}