
  <div class="row">
    <div class="col text-center mt-3">
        <h3 class="logo-font">About</h3>
        <hr class="w-25 mb-1">
    </div>
  </div>

  <div id="map-container" class="container-fluid w-100">

      <div class="row align-items-center">

        <div class="col-12 col-lg-6 pl-3 pt-3">
          <p align="center"><iframe width="500" height="500" style="border:0" loading="lazy" allowfullscreen
src="https://www.google.com/maps/embed/v1/place?q=place_id:EiNMb3VnaCBTaHIgTW5yLCBFbm5pc2tpbGxlbiBCVDc0LCBVSyIuKiwKFAoSCb-6iUcFRl5IEaVrwPQBdgzOEhQKEgnLGxk4H0ZeSBGwHC2Ksj8PBA&key=AIzaSyDUIwbT16CDwx7B4YttBU8zGb5W9TpO3N0"></iframe>
          </p>
        </div>

        <div class="col-12 col-lg-6">
          <br>
          <div>
            <p>Hi, I'm Sarah McQuaid, a studio Florist in Enniskillen. </p>
            <p>I provide bespoke Floral designs for all occasions, using the freshest seasonal flowers and foliage in my flower studio on the Lough Shore Road, Enniskillen.</p>
            <p> Delivery is available at no extra cost or feel free to collect at your convenience from our studio.</p>
          </div>
          <hr class="w-100">

          <div>
              <p>Our studio is located on the Lough Shore Road, Enniskillen.</p>
              <p>1 mile past Portora on the A46, turn left signposted Lough Shore Manor.</p>
              <p>Take the first right, then left and the studio is the last on the right.</p>
              <p>We look forward to seeing you then!!</p>
          </div>

        </div>

        

      </div>
      
  </div>
